@import "vuetify/styles";

:root {
  overflow: hidden;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: #121212; /* A dark grey, almost black */
  background-image:
    radial-gradient(circle at top right, rgba(128, 203, 196, 0.3), transparent 30%),
    radial-gradient(circle at bottom left, rgba(128, 203, 196, 0.3), transparent 30%),
    linear-gradient(
      to right,
      rgba(255, 255, 255, 0.05) 1px,
      transparent 1px
    ),
    linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.05) 1px,
      transparent 1px
    );
  background-size: 100% 100%, 100% 100%, 40px 40px, 40px 40px;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 100%;
}


/* Style the scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Slimmer width of the scrollbar */
}

/* Style the track (the background of the scrollbar) */
::-webkit-scrollbar-track {
  background: #2e2e2e; /* Dark background color for the track */
  border-radius: 10px; /* Rounded corners */
}

/* Style the thumb (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background: #888; /* Color of the thumb */
  border-radius: 10px; /* Rounded corners */
  border: 2px solid #2e2e2e; /* Add some space around the thumb */
}

/* Style the thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker color on hover */
}
